﻿<div class="hero-unit">
<h1>editableTableWidget<br/> <small>tiny editable jQuery Bootstrap spreadsheet</small></h1>
<hr/>
	<div class="alert alert-error hide">
		That would cost too much
	</div>
        <table id="mainTable" class="table table-striped">
        <thead><tr><th>Name</th><th>Cost</th><th>Profit</th><th>Fun</th></tr></thead>
        <tbody>
            <tr><td>Car</td><td>100</td><td>200</td><td>0</td></tr>
            <tr><td>Bike</td><td>330</td><td>240</td><td>1</td></tr>
            <tr><td>Plane</td><td>430</td><td>540</td><td>3</td></tr>
            <tr><td>Yacht</td><td>100</td><td>200</td><td>0</td></tr>
            <tr><td>Segway</td><td>330</td><td>240</td><td>1</td></tr>
        </tbody>
		<tfoot><tr><th><strong>TOTAL</strong></th><th></th><th></th><th></th></tr></tfoot>
        </table>
        <h2><small>just start typing to edit, or move around with arrow keys or mouse clicks!</small></h2>
</div>
<div class="row"></div>

<script>
    $('#mainTable').editableTableWidget().numericInputExample().find('td:first').focus();
    $('#textAreaEditor').editableTableWidget({ editor: $('<textarea>') });
    window.prettyPrint && prettyPrint();
</script>
<a href="https://github.com/mindmup/editable-table"></a>
&nbsp;<div id="fb-root"></div>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'http://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-37452180-6', 'github.io');
    ga('send', 'pageview');
</script>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "http://connect.facebook.net/en_GB/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
 </script>

<script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "http://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
   